six==1.14.0
protobuf==3.5.2
Pillow==7.0.0
grpcio==1.11.0
mlagents==0.4.0
numpy==1.18.3
torch==1.4.0
matplotlib==3.2.1
pyparsing==2.4.6
cycler==0.10.0
python-dateutil==2.8.1
kiwisolver==1.1.0
flake8>=3.7.9
